@stone: #ccc;
@light-stone: #ddd;
@light: #eee;
@snow: #fff;
* {
  padding:0;
  margin:0;
}
header {
  background: @stone;
  .content {
    padding:0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
header:after {
  content: '';
  float: none;
  clear: both;
  display: block;
}
.content {
  width:100%;
  max-width: 1000px;
  margin:0 auto;
  text-align: center;
}
.top-menu {
  float: right;
  list-style: none;
  li {
    display: inline-block;
  }
  a:link, a:visited {
    line-height: 80px;
    color: @snow
  }
}

#logo {
  float: left;
  line-height:80px;
  margin: 0 0 0 40px;
}
.left-sidebar {
  background: @light-stone;
  display: inline-block;
  vertical-align: top;
  width:22%;
  height:90vh;
  padding:30px;
  box-sizing: border-box;
  ul {
    list-style-position: inside;
  }
  li {
    line-height:32px;
  }
}
.main-column {
  display: inline-block;
  width:52%;
  background: @light;
  height:90vh;
  padding:30px;
  box-sizing: border-box;
}
.right-sidebar {
  .left-sidebar;
}
footer {
  background: @stone;
  text-align: center;
  p {
    line-height:80px;
  }
}
@media all and (min-width:1200px) {
  .content {
    max-width:none;
  }
}

@media  all and (max-width: 768px) {
  .left-sidebar {
    width:30%;
  }
  .main-column {
    width:69%;
  }
  .right-sidebar {
    display: block;
    width:100%;
    height:260px;
  }
}
