* {
  padding: 0;
  margin: 0;
}
header {
  background: #ccc;
}
header .content {
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header:after {
  content: '';
  float: none;
  clear: both;
  display: block;
}
.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.top-menu {
  float: right;
  list-style: none;
}
.top-menu li {
  display: inline-block;
}
.top-menu a:link,
.top-menu a:visited {
  line-height: 80px;
  color: #fff;
}
#logo {
  float: left;
  line-height: 80px;
  margin: 0 0 0 40px;
}
.left-sidebar {
  background: #ddd;
  display: inline-block;
  vertical-align: top;
  width: 22%;
  height: 90vh;
  padding: 30px;
  box-sizing: border-box;
}
.left-sidebar ul {
  list-style-position: inside;
}
.left-sidebar li {
  line-height: 32px;
}
.main-column {
  display: inline-block;
  width: 52%;
  background: #eee;
  height: 90vh;
  padding: 30px;
  box-sizing: border-box;
}
.right-sidebar {
  background: #ddd;
  display: inline-block;
  vertical-align: top;
  width: 22%;
  height: 90vh;
  padding: 30px;
  box-sizing: border-box;
}
.right-sidebar ul {
  list-style-position: inside;
}
.right-sidebar li {
  line-height: 32px;
}
footer {
  background: #ccc;
  text-align: center;
}
footer p {
  line-height: 80px;
}
@media all and (min-width: 1200px) {
  .content {
    max-width: none;
  }
}
@media all and (max-width: 768px) {
  .left-sidebar {
    width: 30%;
  }
  .main-column {
    width: 69%;
  }
  .right-sidebar {
    display: block;
    width: 100%;
    height: 260px;
  }
}
